
<h3>Hello <%=current_user.username %>! Here a list of all emplyees' tools. You only can Edit or Delete your own tools</h3>


<% @tools.each do |tool| %>
<h3><a href="/tools/<%= tool.id %>"><%= tool.name %></a></h3>
<p>Quantity: <%= tool.quantity %></p>
<p>Rental Date: <%= tool.rental_date %></p>
<p>Return Date: <%= tool.return_date %></p>
<p>Cost Per Day: <%= tool.cost_per_day %></p>
<p>Tool Conditions: <%= tool.conditions %></p>
<p>Customer ID: <%= tool.customer_id %></p>

<% end %>
