<%#=#show a single tool%>

<h3>Here is the tool you elected</h3>
<br>
<p>Tool Name: <%= @tool.name %></p>
<p>Quantity: <%= @tool.quantity %></p>
<p>Rental Date: <%= @tool.rental_date %></p>
<p>Return Date: <%= @tool.return_date %></p>
<p>Cost Per Day: <%= @tool.cost_per_day %></p>
<p>Tool Conditions: <%= @tool.conditions %></p>
