
<h3>Hello <%= current_user.username %>! here is your account info and Tools list</h3>

<ul>
  <li>User Name: <%= @customer.username %><li>
  <li>Customer ID: <%= @customer.id %></li>
</ul>

<h3>Tools List: </h3>

<% @tools.each do |tool| %>

  <% if tool.customer_id == session[:customer_id] %>

    <h3>Tool Name: <%= tool.name %></h3>
    <p>Quantity: <%= tool.quantity %></p>
    <p>Rental Date: <%= tool.rental_date %></p>
    <p>Return Date: <%= tool.return_date %></p>
    <p>Cost Per Day: <%= tool.cost_per_day %></p>
    <p>Tool conditions: <%= tool.conditions %></p>
    <p>Customer ID: <%= tool.customer_id %></p>


    <a href="/tools/new">Add Tool</a>
    <a href="/tools/<%="#{tool.id}/edit"%>">Edit Tool</a>

    <div class="">
      <form onsubmit="confirm('Are you sure you want to delete the following note?')" class="" action="/tools/<%="#{tool.id}"%>" method="post">
        <input id="hidden" type="hidden" name="_method" value="delete">
        <input type="submit" name="" value="Delete">
      </form>
    </div>

  <% end %>

<% end %>
